@(metas: List[Meta], metaForm: Form[Meta])

@import helper._

@main("Lista de Metas") {
    
    <h1>@metas.size() meta(s)</h1>
    
    <ul>
        @for(meta <- metas) {
            <li>
                @meta.label
                @meta.completa
                
                @form(routes.Application.deleteMeta(meta.id)) {
                    <input type="submit" value="Delete">
                }
                @form(routes.Application.completarMeta(meta.id)) {
                    <input type="submit" value="Completar meta!">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new meta</h2>
    
    @form(routes.Application.novaMeta()) {
        
        @inputText(metaForm("label")) 
        
        <input type="submit" value="Create">
        
    }
    
}