@(metas: List[Meta], metaForm: Form[Meta])

@import helper._
	
@main("Lista de Metas") {
    
    <h1>Você possui @metas.size() meta(s)</h1>
    
    <ul>
        @for(meta <- metas) {
            <li>
                @meta.label
             	Data programada para conclusão: @meta.conclusao.toLocaleString()
                
                

                @form(routes.Application.deleteMeta(meta.id)) {
                    <input type="submit" value="Delete esta meta">
                }
                @if(!meta.completa){
                	@form(routes.Application.completarMeta(meta.id)) {
                    <input type="submit" value="Completei!">
                }
                	
                }
                
                
            </li>
        }
    </ul>
    
    <h2>Nova meta</h2>
    
    @form(routes.Application.novaMeta()) {
        
        Descrição de sua meta:<br>
        @inputText(metaForm("label"))
        @inputDate(metaForm("conclusao"))
        
        <input type="submit" value="Adicionar">
        
    }
    
}