@(metas: List[Meta], metaForm: Form[Meta])

@import helper._
	
@main("Lista de Metas") {
    
    <h1>Você possui @metas.size() meta(s)</h1>
    
    <ul>
        @for(meta <- metas) {
            <li>
                @meta.label
                @meta.id
                @meta.completa
                
                

                @form(routes.Application.deleteMeta(meta.id)) {
                    <input type="submit" value="Delete">
                }
                @if(meta.completa){
                	@form(routes.Application.deleteMeta(meta.id)) {
                    <input type="submit" value="Delete">
                }
                	
                }
                
                
            </li>
        }
    </ul>
    
    <h2>Adicionar nova meta</h2>
    
    @form(routes.Application.novaMeta()) {
        
        @inputText(metaForm("label"))
        @inputText(metaForm("id"))
        @inputDate(metaForm("conclusao"))
        
        <input type="submit" value="Create">
        
    }
    
}